
    
    <section class="padding-y bg-light">
    <div class="container">
    
    <!-- =================== COMPONENT CART+SUMMARY ====================== -->
    <div class="row">
      <div class="col-lg-9">
    
        <div class="card">
        <div class="content-body">
          <h4 class="card-title mb-4">Your shopping cart</h4>
          <article *ngFor="let item of product" class="row gy-3 mb-4">
            <div class="col-lg-5">
              <figure class="itemside me-lg-5">
                <div class="aside"><img src="assets/images/items/11.webp" class="img-sm img-thumbnail"></div>
                <figcaption class="info">
                  <a href="#" class="title">{{item.name}}   #{{GetItemQuentity(item.id)}}</a>
                  <p class="text-muted"> {{item.category.name}}, {{item.brands.name}} </p>
                </figcaption>
              </figure>
            </div>
           
            <div class="col-lg-2 col-sm-4 col-6">
              <div class="price-wrap lh-sm"> 
                <var class="price h6">{{item.price*GetItemQuentity(item.id)}}</var>  <br>
                {{counter(item.price*GetItemQuentity(item.id))}}
                <small class="text-muted"> ${{item.price}} / per item </small> 
                
              </div> <!-- price-wrap .// -->
            </div>
            
            <div class="col-lg col-sm-4">
              <div class="float-lg-end">
                
                <a  class="btn btn-light text-danger" (click)="RemoveFromCart(item.id)" > Remove</a>
              </div>
            </div>
          </article> <!-- row.// -->
    
          
    
         <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form [formGroup]="form" (ngSubmit)="checkOut()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <input type="text" placeholder="Note" class="form-control" formControlName="Note">
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-primary">Place order</button>
      </div>
    </div>
  </form>
  </div>
</div> 
    
        </div> <!-- card-body .// -->
    
        
    
        </div> <!-- card.// -->
    
      </div> <!-- col.// -->
      <aside class="col-lg-3">
    
        <div class="card mb-3">
        <div class="card-body">
       
        </div> <!-- card-body.// -->
        </div> <!-- card.// -->
    
        <div class="card">
        <div class="card-body">
          <dl class="dlist-align">
            <dt>Total price:</dt>
            <dd class="text-end"> ${{total}}</dd>
          </dl>
         
          
          <hr>
          <dl class="dlist-align">
            <dt>Total:</dt>
            <dd class="text-end"> ${{total}}</dd>
          </dl>
          
          <div class="d-grid gap-2 my-3">
            <!-- <a (click)="checkOut()" class="btn btn-success w-100" > Make Purchase </a> -->
            <a *ngIf="!isEmpty"  class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#exampleModal"> Make Purchase </a>
            <a [routerLink]="['/public/Products']" class="btn btn-light w-100"> Back to shop </a>
          </div>
        </div> <!-- card-body.// -->
        </div> <!-- card.// -->
    
      </aside> <!-- col.// -->
    
    </div> <!-- row.// -->
    <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->
    
    <br><br>
    
    </div> <!-- container .//  -->
    </section>
    
    
    
    