<section class="padding-y bg-light">
    <div class="container">
      <!-- =================== COMPONENT 1 ====================== -->
      <div class="card bg-primary p-5" style="min-height:280px; background-size: cover; background-image: url('assets/images/banners/bg-food.webp');">
      <header class="text-center mt-5">
        <h2 class="text-white">Order online now</h2>
        <p class="text-white">Discover the best Products in your area</p>
      </header>
      </div>
      <!-- =================== COMPONENT 1 .// ================== -->
      <br>
      <br>
      <!-- =================== COMPONENT 2 ====================== -->
      <div class="card">
      <div class="content-body">
        <nav class="row gy-4">
        <div *ngFor="let item of category" class="col-xl col-lg-2 col-md-3 col-4">
          <a href="#" class="item-link text-center">
          <span class="icon icon-lg mb-2 rounded-3">
            <img width="42" height="42" src="{{item.image}}">
          </span>
          <span class="text"> {{item.name}} </span>
          </a>
        </div>
      
        </nav>
      </div>
      <!-- card-body.// -->
      </div>
      <!-- card.// -->
      <!-- =================== COMPONENT 2 .// ================== -->
      <br>
      <br>
      <!-- =================== COMPONENT 3 ====================== -->
      <div class="row">
        <div *ngFor="let item of products" class="col-lg-4 col-md-6 col-sm-6">
          
          <figure class="card card-product-grid">
            <a [routerLink]="['Products/',item.id]">
          <div class="img-wrap"> 
            <img src="{{item.image}}"> 
          </div>
          </a>
          <figcaption class="info-wrap border-top">
            <div class="price-wrap">
            <strong class="price">${{item.price}}</strong>
            </div> <!-- price-wrap.// -->
            <p class="title mb-2">{{item.name}}</p>
            <form [formGroup]="form" (ngSubmit)="AddToCart(item.id)">
            <div class="input-group input-spinner">
              
             
              <input  type="number" min="1"  class="form-control text-center"  formControlName="quantity">
              
            </div>
            <button type="submit" class="btn btn-primary">Add to cart</button>
          </form>
            
          </figcaption>
          </figure>
        
        </div>
      <!-- col.// -->
      
    
      </div>
      <!-- row.// -->
      <!-- =================== COMPONENT 3 .// ================== -->
      <br>
      <br>
      
     
      <!-- p-4 .// -->
    </div>
    <!-- container .// -->
    </section>