<mat-toolbar>

    <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </mat-toolbar>

<mat-drawer-container class="example-container" style="height: 100%;width:200px;float: left;">
    
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 200px;">
        <button style="float: right;" type="button" color="red" mat-button (click)="drawer.toggle()" >
           X
          </button>
          <h3 style="margin: 3px;">Admin DashBoard</h3>
          <br>
      <div class="container">
        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <br>
        <button (click)="showUserMenu=!showUserMenu" mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Users</span>
        </button>
        <div *ngIf="showUserMenu" style="margin-top: -15px;margin-bottom: -15px;">
        <br>
        <a mat-button [routerLink]="['users/add']">Add.</a>
        <br>
        <a mat-button [routerLink]="['users/show']">Show</a>
        </div>
        <br>
        <a [routerLink]="['Roles/show']" mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>Roles</span>
        </a>
        <br>        
        <a [routerLink]="['Permessions/add']"  mat-button class="menu-button">
            <mat-icon>lock</mat-icon>
            <span>Permessions</span>
        </a>
        <br>
        <a [routerLink]="['Category/show']" mat-button class="menu-button">
          <mat-icon>category</mat-icon>
          <span>Category</span>
      </a>
      <a [routerLink]="['Brand/show']" mat-button class="menu-button">
        <mat-icon>branding_watermark</mat-icon>
        <span>Brands</span>
    </a>
      <br>

        

        <mat-divider></mat-divider>

        
      </div>
      
    </mat-drawer>
  </mat-drawer-container>
  <div class="container-fluid">
    
    <router-outlet></router-outlet>
  </div>