<form [formGroup]="form" (ngSubmit)="Add()">
    <!-- <mat-form-field >
        <mat-label>Name</mat-label>
        <input matInput name="Name" formControlName="Name">
    </mat-form-field> -->
     
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>NameAr</mat-label>
        <input matInput  formControlName="NameAr" >
    </mat-form-field>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>NameEn</mat-label>
        <input matInput  formControlName="NameEn" >
    </mat-form-field>
    <br>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>Price</mat-label>
        <input matInput  formControlName="Price" >
    </mat-form-field>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>Tax</mat-label>
        <input matInput  formControlName="Tax" >
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="fill" >
        
        <mat-label>Brand</mat-label>
        <select formControlName="BrandsId"  matNativeControl required>
          <option *ngFor="let item of Brands" [value]="item.id">{{item.name}}</option>
          
        </select>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <select formControlName="CategoryId" matNativeControl required>
            <option *ngFor="let item of Category" [value]="item.id">{{item.name}}</option>
        </select>
      </mat-form-field>
    <br>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>DescriptionAr</mat-label>
        <input matInput  formControlName="DescriptionAr" >
    </mat-form-field>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>DescriptionEn</mat-label>
        <input matInput  formControlName="DescriptionEn" >
    </mat-form-field>
    <br>
    <mat-form-field style="margin-left: 10px;margin-right: 10px;">
        <mat-label>Image</mat-label>
        <input matInput  formControlName="Image" >
    </mat-form-field>
    <mat-radio-group formControlName="Avilability" aria-label="Select an option">
        <mat-label>Avilability:</mat-label>
        <mat-radio-button value="in stock">in stock</mat-radio-button>
        <mat-radio-button value="out of stock">out of stock</mat-radio-button>
      </mat-radio-group>
    
 

    <button mat-raised-button type="submit" mat-raised-button color="primary">Add</button>       
  </form>
  <a [routerLink]="['../../show']" mat-raised-button color="primary" >Back to list</a>